<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Idea Bucket Tests</title>
  <link rel="stylesheet" href="/stylesheets/stylesheet.css" type="text/css" media="screen" charset="utf-8">
  <script type="text/javascript" src="/javascripts/jquery-1.3.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.styledselect.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.autocompleter.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>
</head>
<body class="<%= body_class %>">
  <div id="header">
    <h1>Idea Bucket <span class="subheader"><%= body_class %></span></h1>
    <ul id="navigation">
      <li><%= l("Home", "/") %></li>
      <li><%= l("Create") %></li>
      <li><%= l("List") %></li>
      <li><%= l("Location") %></li>
      <li><%= l("Weather") %></li>
    </ul>
  </div><!-- #header -->
  <div id="content">
    <%= yield %>
    <hr/>
    <h3>Notes</h3>
    <dl class="notes clearfix">
    </dl>
  </div><!-- #content -->
</body>
</html>