<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Idea Bucket Tests</title>

  <link rel="stylesheet" href="/stylesheets/stylesheet.css" type="text/css" media="screen" charset="utf-8">
	
  <script src="/javascripts/jquery-1.2.6.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.jeditable.custom.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.cookie.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.styledselect.js" type="text/javascript"></script>
  <script src="/javascripts/application.js" type="text/javascript"></script>
</head>

<body>
  <ul id="navigation">
    <li><%= l("Home", "/") %></li>
    <li><%= l("Create") %></li>
    <li><%= l("Location") %></li>
    <li><%= l("Weather") %></li>
  </ul>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
