<table>
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Persons</th>
    <th>Duration</th>
    <th>Expenses</th>
    <th>Date</th>
    <th>Location</th>
    <th>Weather</th>
    <th>Edit</th>
  </tr>
  <% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.author %></td>
    <td><%= idea.title %></td>
    <td><%= idea.persons %></td>
    <td><%= idea.duration %></td>
    <td><%= idea.expenses %></td>
    <td><%= idea.date %></td>
    <td><%= idea.location %></td>
    <td><%= idea.weather %></td>
    <td>
      <form action="delete" method="post">
        <input name="_method" value="delete" type="hidden" />
        <input name="id" value="<%= idea.id %>" type="hidden" />
        <input type="submit" value="Delete" />
      </form>
    </td>
  </tr>
  <% end %>
</table>